body{
    background-image: url("image/img\ 1.jpg");
    background-size: cover;
}
.addtext{
    margin: 0px;
    padding: 0px;
    width: 35%;
    outline: none;
    height: 30px;
    border-radius: 5px;
    margin-top: 10rem;
    margin-left: 10rem;



}
.addbutton{
    border-radius: 1rem;
    background-color: goldenrod;
    font-weight: bold;
}
.clearbutton{
    border-radius: 1rem;
    background-color: goldenrod;
    font-weight: bold;
}

 
     


